@model Sof.Dew.MvcApp.Models.RegisterViewModel
@{
    ViewBag.Title = "注册";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
@section head{
    <style>
        .body-content {
            max-width: 360px;
        }
    </style>
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="container-fluid">
        <div class="form-group">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "用户名" })
        </div>
        <div class="form-group">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "密码" })
        </div>
        <div class="form-group">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "确认密码" })
        </div>
        <div class="checkbox text-left">
            <label>
                @Html.CheckBoxFor(m => m.Accept)
                @Html.DisplayNameFor(m => m.Accept)<a data-toggle="modal" data-target=".modal">《用户服务协议》</a>
            </label>
        </div>
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            <button id="btnRegister" type="submit" class="btn btn-success btn-block btn-lg" data-loading-text="正在登录..." disabled><span class="glyphicon glyphicon-ok"></span> 注 册</button>
        </div>
    </div>
}
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="agreement" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">用户服务协议</h4>
            </div>
            <div class="modal-body">
                <p>
                    请务必认真阅读和理解本《用户服务协议》（以下简称《协议》）中规定的所有权利和限制。除非您接受本《协议》条款，否则您无权注册、登录或使用本协议所涉及的相关服务。您一旦注册、登录、使用或以任何方式使用本《协议》所涉及的相关服务的行为将视为对本《协议》的接受，即表示您同意接受本《协议》各项条款的约束。如果您不同意本《协议》中的条款，请不要注册、登录或使用本《协议》相关服务。 本《协议》是用户与XXXXXX之间的法律协议。
                </p>
                <p>
                    1. 服务内容
                </p>
            </div>
        </div>
    </div>
</div>
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $("#Accept").click(function () {
            $("#btnRegister").prop("disabled", !$(this).prop("checked"));
        });
        $("#btnRegister").click(function () {
            if ($("form").valid()) $(this).button("loading");
        });
    </script>
}
