<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Description...">
    <meta name="keywords" content="keyword1,keyword2,keyword3..">
    <meta name="author" content="Sparks of fire">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sof</title>
    @Styles.Render("~/content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!--[if lt IE 9]>
        @Scripts.Render("~/bundles/ltie9")
    <![endif]-->
    @RenderSection("head", required: false)
    <script>
        // m: app模块名称，def: 依赖模块数组，func: 模块函数
        function _require(m, def, func) {
            require(['../config'], function () { require([m]); }), define(m, def, function ($) { func($) })
            //require(['../config'], function () { require([m], define(def, func)); });
            require(['../config'], function () { require([m]); }, define(m, def, function ($) { func($) }))
        }
        function myRequire(m, def, func) {
            require(['../config'],  define(m, def, function ($) { func($) }))
        }
    </script>
    @RenderSection("scripts", required: false)
</head>
<body>
    @RenderBody()
</body>
</html>
